## Exercise 10.3 Numerical Solution for Assignment of Consultants to Projects

Incrementally create Gurobi code to implement Q3 of Problem Set 6, following the example given in the lecture.

**Recap of Q3 of Problem Set 6:** There are two projects and four consultants: Alice, Bob, Charles, and Daphne. Each consultant can be assigned to at most one project, and each project requires at least two consultants. As a manager, you evaluated the relative fitness of the four consultants for each project on a scale of 1 to 5, with 5 being the best fit and 1 being the worst.

| ` `| Project 1 | Project 2 |
|--|--|--|
|Alice | 5 | 2 |
|Bob | 3 | 2 |
|Charles | 4 | 5 |
|Daphne | 3 | 1 |
 
Furthermore, Alice, Bob and Daphne are senior consultants and each project requires at least one senior on the team. 

Formulate a linear optimization problem to maximize the total fitness of the consultants to their assigned project, subject to all the business constraints.

### Concrete Formulation

**Decision variables:** Let $x_{ij}$ denote whether to assign consultant $i$ to project $j$. (Binary)

**Objective:**
$$\text{Maximize: } 5x_{A1}+2x_{A2}+3x_{B1}+2x_{B2} + 4x_{C1}+5x_{C2}+3x_{D1}+x_{D2} $$


**Constraints:** 

$$\begin{aligned}
\text{(Alice)} && x_{A1}+x_{A2} & \le 1 \\
\text{(Bob)} && x_{B1}+x_{B2} & \le 1 \\
\text{(Charles)} && x_{C1}+x_{C2} & \le 1 \\
\text{(Daphne)} && x_{D1}+x_{D2} & \le 1 \\
\text{(Project 1 Total)} && x_{A1}+x_{B1}+x_{C1}+x_{D1} & \ge 2 \\
\text{(Project 2 Total)} && x_{A2}+x_{B2}+x_{C2}+x_{D2} & \ge 2 \\
\text{(Project 1 Senior)} && x_{A1}+x_{B1}+x_{D1} & \ge 1 \\
\text{(Project 2 Senior)} && x_{A2}+x_{B2}+x_{D2} & \ge 1 \\
\end{aligned}$$

## Implement the above in Gurobi while obtaining all numbers from the below data structures

Follow the example given in the lecture. See the desired intermediate outputs for every step below. You should write your code in such a way such that if the input data is changed, such as if additional consultants are added, projects are added, or numerical values changed, the code will still work.

### Input Data

In [2]:
import pandas as pd
consultants=['Alice', 'Bob', 'Charles', 'Daphne']
projects=[1,2]
fitness=pd.DataFrame([[5,2],[3,2],[4,5],[3,1]],index=consultants,columns=projects)
senior=['Alice','Bob','Daphne']
capacity=pd.Series([1,1,1,1],index=consultants)
demand=pd.Series([2,2],index=projects)
seniorDemand=pd.Series([1,1],index=projects)

In [23]:
# Creating variables
from gurobipy import Model, GRB
mod = Model()
x = mod.addVars(consultants,projects,name='x')
mod.update()
x

{('Alice', 1): <gurobi.Var x[Alice,1]>,
 ('Alice', 2): <gurobi.Var x[Alice,2]>,
 ('Bob', 1): <gurobi.Var x[Bob,1]>,
 ('Bob', 2): <gurobi.Var x[Bob,2]>,
 ('Charles', 1): <gurobi.Var x[Charles,1]>,
 ('Charles', 2): <gurobi.Var x[Charles,2]>,
 ('Daphne', 1): <gurobi.Var x[Daphne,1]>,
 ('Daphne', 2): <gurobi.Var x[Daphne,2]>}

In [14]:
# Sample output

{('Alice', 1): <gurobi.Var x[Alice,1]>,
 ('Alice', 2): <gurobi.Var x[Alice,2]>,
 ('Bob', 1): <gurobi.Var x[Bob,1]>,
 ('Bob', 2): <gurobi.Var x[Bob,2]>,
 ('Charles', 1): <gurobi.Var x[Charles,1]>,
 ('Charles', 2): <gurobi.Var x[Charles,2]>,
 ('Daphne', 1): <gurobi.Var x[Daphne,1]>,
 ('Daphne', 2): <gurobi.Var x[Daphne,2]>}

In [13]:
# Objective
sum(fitness.loc[c,p]*x[c,p] for c in consultants for p in projects)

In [15]:
# Sample output

In [19]:
# (Alice) constraint
'''for c in consultants:
    sum(x[c,p] for p in projects)<=1'''
sum(x['Alice',p] for p in projects)<=capacity['Alice']

In [16]:
# Sample output

In [20]:
# (Project 1 Total) constraint
sum(x[c,1] for c in consultants)>=demand[1]

In [17]:
# Sample output

In [22]:
# (Project 1 Senior) constraint
sum(x[s,1] for s in senior)>=seniorDemand[1]

In [6]:
# Sample output

In [15]:
# Full model
from gurobipy import Model, GRB
mod = Model()
x = mod.addVars(consultants,projects,name='x')
mod.setObjective(sum(fitness.loc[c,p]*x[c,p] for c in consultants for p in projects),sense = GRB.MAXIMIZE)
for c in consultants:
    mod.addConstr(sum(x[c,p] for p in projects)<=capacity[c],name=f'{c}')
for p in projects:
    mod.addConstr(sum(x[c,p] for c in consultants)>=demand[p],name=f'Project {p} Total')
for p in projects:
    mod.addConstr(sum(x[s,p] for s in senior)>=seniorDemand[p],name=f'Project {p} Senior')
mod.write('10-books.lp')
!type 10-books.lp

Warning: constraint name "Project 1 Total" has a space
\ LP format - for model browsing. Use MPS format to capture full model detail.
Maximize
  5 x[Alice,1] + 2 x[Alice,2] + 3 x[Bob,1] + 2 x[Bob,2] + 4 x[Charles,1]
   + 5 x[Charles,2] + 3 x[Daphne,1] + x[Daphne,2]
Subject To
 Alice: x[Alice,1] + x[Alice,2] <= 1
 Bob: x[Bob,1] + x[Bob,2] <= 1
 Charles: x[Charles,1] + x[Charles,2] <= 1
 Daphne: x[Daphne,1] + x[Daphne,2] <= 1
 Project_1_Total: x[Alice,1] + x[Bob,1] + x[Charles,1] + x[Daphne,1] >= 2
 Project_2_Total: x[Alice,2] + x[Bob,2] + x[Charles,2] + x[Daphne,2] >= 2
 Project_1_Senior: x[Alice,1] + x[Bob,1] + x[Daphne,1] >= 1
 Project_2_Senior: x[Alice,2] + x[Bob,2] + x[Daphne,2] >= 1
Bounds
End

In [7]:
# Sample output

\ LP format - for model browsing. Use MPS format to capture full model detail.
Maximize
  5 x[Alice,1] + 2 x[Alice,2] + 3 x[Bob,1] + 2 x[Bob,2] + 4 x[Charles,1]
   + 5 x[Charles,2] + 3 x[Daphne,1] + x[Daphne,2]
Subject To
 Alice: x[Alice,1] + x[Alice,2] <= 1
 Bob: x[Bob,1] + x[Bob,2] <= 1
 Charles: x[Charles,1] + x[Charles,2] <= 1
 Daphne: x[Daphne,1] + x[Daphne,2] <= 1
 Project_1: x[Alice,1] + x[Bob,1] + x[Charles,1] + x[Daphne,1] >= 2
 Project_2: x[Alice,2] + x[Bob,2] + x[Charles,2] + x[Daphne,2] >= 2
 Project_1_Senior: x[Alice,1] + x[Bob,1] + x[Daphne,1] >= 1
 Project_2_Senior: x[Alice,2] + x[Bob,2] + x[Daphne,2] >= 1
Bounds
Binaries
 x[Alice,1] x[Alice,2] x[Bob,1] x[Bob,2] x[Charles,1] x[Charles,2]
 x[Daphne,1] x[Daphne,2]
End

In [16]:
# Numerical Solution
from gurobipy import Model, GRB
mod = Model()
x = mod.addVars(consultants,projects)
mod.setObjective(sum(fitness.loc[c,p]*x[c,p] for c in consultants for p in projects),sense = GRB.MAXIMIZE)
for c in consultants:
    mod.addConstr(sum(x[c,p] for p in projects)<=capacity[c])
for p in projects:
    mod.addConstr(sum(x[c,1] for c in consultants)>=demand[p])
    mod.addConstr(sum(x[s,p] for s in senior)>=seniorDemand[p])
mod.setParam('OutputFlag',False)
mod.optimize()
print('Maximum Total Fitness:',mod.objVal)

Maximum Total Fitness: 15.0

In [20]:
# Sample output

Maximum total fitness: 15.0

In [17]:
# Creating the output table
df_output = pd.DataFrame(index=consultants,columns=projects)
df_output

           1    2
Alice    NaN  NaN
Bob      NaN  NaN
Charles  NaN  NaN
Daphne   NaN  NaN

In [21]:
# Sample output

           1    2
Alice    NaN  NaN
Bob      NaN  NaN
Charles  NaN  NaN
Daphne   NaN  NaN

In [18]:
# Filling in the output table
for c in consultants:
    for p in projects:
        df_output.loc[c,p] = x[c,p].x
df_output

           1    2
Alice    1.0  0.0
Bob      0.0  1.0
Charles  0.0  1.0
Daphne   1.0  0.0

In [22]:
# Sample output

         1  2
Alice    1  0
Bob      0  1
Charles  0  1
Daphne   1  0

In [20]:
# Final code (Include everything except the input data)
from gurobipy import Model, GRB
mod = Model()
x = mod.addVars(consultants,projects)
mod.setObjective(sum(fitness.loc[c,p]*x[c,p] for c in consultants for p in projects),sense = GRB.MAXIMIZE)
for c in consultants:
    mod.addConstr(sum(x[c,p] for p in projects)<=capacity[c])
for p in projects:
    mod.addConstr(sum(x[c,1] for c in consultants)>=demand[p])
    mod.addConstr(sum(x[s,p] for s in senior)>=seniorDemand[p])
mod.setParam('OutputFlag',False)
mod.optimize()
print('Maximum Total Fitness:',mod.objVal)
for c in consultants:
    for p in projects:
        df_output.loc[c,p] = x[c,p].x
display(df_output)

Maximum Total Fitness: 15.0

           1    2
Alice    1.0  0.0
Bob      0.0  1.0
Charles  0.0  1.0
Daphne   1.0  0.0

In [23]:
# Sample output

Maximum total fitness: 15.0

         1  2
Alice    1  0
Bob      0  1
Charles  0  1
Daphne   1  0