<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries" data-toc-modified-id="Import-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries</a></span></li><li><span><a href="#Read-dataset" data-toc-modified-id="Read-dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read dataset</a></span></li><li><span><a href="#Descriptive-stats-and-summary" data-toc-modified-id="Descriptive-stats-and-summary-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Descriptive stats and summary</a></span></li><li><span><a href="#Question-1" data-toc-modified-id="Question-1-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Question 1</a></span></li><li><span><a href="#Question-2" data-toc-modified-id="Question-2-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Question 2</a></span></li><li><span><a href="#Question-3" data-toc-modified-id="Question-3-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Question 3</a></span></li><li><span><a href="#Question-4" data-toc-modified-id="Question-4-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Question 4</a></span></li></ul></div>

# Import libraries

In [1]:
# Import libraries
import pandas as pd #for dataframe
import numpy as np #for arrays if required
import matplotlib.pyplot as plt #for visualization
%matplotlib inline

import statsmodels.formula.api as sm #for regression

import scipy.stats #for hypothesis testing

# Read dataset

In [2]:
# read data
df = pd.read_csv("hw4.csv")

# view
display(df.head())

   Price    Sales  Engine_size  Fuel_capacity  Fuel_efficiency  Car_Brand
0  21.50  21.9947          1.8           13.2               28          3
1  28.40  39.3840          3.2           17.2               25          2
2  42.00  15.4584          3.5           18.0               22          4
3  23.99  14.2779          1.8           16.4               27          1
4  33.95  13.1460          2.8           18.5               22          1

# Descriptive stats and summary

In [3]:
# descriptive stats
display(df.describe())

# info
display(df.info())

,Price,Sales,Engine_size,Fuel_capacity,Fuel_efficiency,Car_Brand
count,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,27.443869,67.894535,3.059477,17.962745,23.830065,2.607843
std,14.437836,107.067448,1.053842,3.924851,4.293187,1.154142
min,9.235000,0.198000,1.000000,10.300000,15.000000,1.000000
25%,17.890000,14.011900,2.300000,15.800000,21.000000,2.000000
50%,22.799000,35.500400,3.000000,17.200000,24.000000,3.000000
75%,31.965000,81.174000,3.800000,19.800000,26.000000,4.000000
max,85.500000,973.009800,8.000000,32.000000,45.000000,4.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Price            153 non-null    float64
 1   Sales            153 non-null    float64
 2   Engine_size      153 non-null    float64
 3   Fuel_capacity    153 non-null    float64
 4   Fuel_efficiency  153 non-null    int64
 5   Car_Brand        153 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 7.3 KB

None

# Question 1

Using the data, estimate a univariate linear regression model for the relationship 
between sales and price. The independent variable is price and the dependent 
variable is sales. You want your model to speak in terms of elasticity, so your 
interpretation should be a 1% increase in price is associated with a x% change in sales. 
What does the model indicate is the relationship between price and sales? Is the 
relationship statistically different than zero?

In [4]:
# get log values
df["Sales_log"] = np.log(df["Sales"])
df["Price_log"] = np.log(df["Price"])

In [5]:
# Regression model
result = sm.ols(formula = "Sales_log~Price_log",
               data = df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Sales_log   R-squared:                       0.263
Model:                            OLS   Adj. R-squared:                  0.258
Method:                 Least Squares   F-statistic:                     53.92
Date:                Sat, 04 Dec 2021   Prob (F-statistic):           1.21e-11
Time:                        14:39:31   Log-Likelihood:                -239.83
No. Observations:                 153   AIC:                             483.7
Df Residuals:                     151   BIC:                             489.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.2954      0.667     12.428      0.000       6.977       9.614
Price_log     -1.5159      0.206     -7.343      0.000      -1.924      -1.108
==============================================================================
Omnibus:                       22.474   Durbin-Watson:                   1.478
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               44.840
Skew:                          -0.657   Prob(JB):                     1.83e-10
Kurtosis:                       5.304   Cond. No.                         25.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

**Results:-**
- For a 1% increase in price, sales decreases by 1.5159%.
- Assuming a level of significance of 5%, since p value < 0.05, we reject the null hypothesis that there is no relationship between Price_log and Sales_log. Therefore, there is a statistically significant relationship between Price and Sales.

# Question 2

Estimate another model that estimates the relationship between price and sales 
(similar to 1, this should speak in terms of elasticity), but this model also includes
controls for all other variables available in the dataset (do not log transform engine 
size, fuel capacity, and fuel_effeciency). What does the model indicate is the 
relationship between price and sales? Is the relationship statistically different than 
zero?

In [12]:
# Create dummies for car brand

## checking value counts()
car_brand = df["Car_Brand"].value_counts()
display(df["Car_Brand"].value_counts())

## create dummies
for i in car_brand.index[:len(car_brand.index)-1]:
    df[f"Car_brand_{i}"] = [1 if x == i else 0 for x in df["Car_Brand"]]
    
## view
display(df.head())

4    48
2    38
1    35
3    32
Name: Car_Brand, dtype: int64

,Price,Sales,Engine_size,Fuel_capacity,Fuel_efficiency,Car_Brand,Sales_log,Price_log,Car_brand_4,Car_brand_2,Car_brand_1
0,21.50,21.9947,1.8,13.2,28,3,3.090802,3.068053,0,0,0
1,28.40,39.3840,3.2,17.2,25,2,3.673360,3.346389,0,1,0
2,42.00,15.4584,3.5,18.0,22,4,2.738153,3.737670,1,0,0
3,23.99,14.2779,1.8,16.4,27,1,2.658713,3.177637,0,0,1
4,33.95,13.1460,2.8,18.5,22,1,2.576118,3.524889,0,0,1

In [13]:
# Regression model
result = sm.ols(formula = "Sales_log ~ Price_log + Engine_size + Fuel_capacity + Fuel_efficiency + \
                Car_brand_4 + Car_brand_2 + Car_brand_1",
               data = df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Sales_log   R-squared:                       0.402
Model:                            OLS   Adj. R-squared:                  0.373
Method:                 Least Squares   F-statistic:                     13.93
Date:                Sat, 04 Dec 2021   Prob (F-statistic):           9.86e-14
Time:                        14:41:50   Log-Likelihood:                -223.84
No. Observations:                 153   AIC:                             463.7
Df Residuals:                     145   BIC:                             487.9
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           8.1166      1.800      4.508      0.000       4.558      11.675
Price_log          -2.2334      0.260     -8.595      0.000      -2.747      -1.720
Engine_size         0.2946      0.137      2.147      0.033       0.023       0.566
Fuel_capacity       0.0773      0.038      2.021      0.045       0.002       0.153
Fuel_efficiency     0.0043      0.039      0.109      0.914      -0.073       0.082
Car_brand_4         0.4643      0.248      1.875      0.063      -0.025       0.954
Car_brand_2         0.0993      0.260      0.382      0.703      -0.414       0.613
Car_brand_1        -0.3731      0.264     -1.414      0.159      -0.895       0.148
==============================================================================
Omnibus:                       56.060   Durbin-Watson:                   1.664
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              194.132
Skew:                          -1.370   Prob(JB):                     7.00e-43
Kurtosis:                       7.790   Cond. No.                         630.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

**Result:-**

- Controlling for other variables, for an increase of 1% in Price, there is a decrease of -2.2604% in Sales.
- Assuming a level of significance of 5%, since p value < 0.05, we reject the null hypothesis that there is no relationship between Price_log and Sales_log. Therefore, there is a statistically significant relationship between Price and Sales.

# Question 3

Using linear regression, test the null hypothesis that the expected difference in sales 
between car brand 2 and 3 is equal to zero, controlling for price, engine size, fuel 
capacity, and fuel efficiency.

In [14]:
# prepare data
## drop earlier dummy vars
df.drop(["Car_brand_4", "Car_brand_2", "Car_brand_1"], axis = 1, inplace = True)

## create new dummy vars for betr interpretation
for i in [1,2,4]:
    df[f"Car_brand_{i}"] = [1 if x == i else 0 for x in df["Car_Brand"]]

In [15]:
# Regression model
result = sm.ols(formula = "Sales ~ Price + Engine_size + Fuel_capacity + Fuel_efficiency + \
                Car_brand_1 + Car_brand_2 + Car_brand_4",
               data = df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.226
Model:                            OLS   Adj. R-squared:                  0.189
Method:                 Least Squares   F-statistic:                     6.051
Date:                Sat, 04 Dec 2021   Prob (F-statistic):           3.33e-06
Time:                        14:41:55   Log-Likelihood:                -912.03
No. Observations:                 153   AIC:                             1840.
Df Residuals:                     145   BIC:                             1864.
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        -161.0970    143.230     -1.125      0.263    -444.184     121.990
Price              -3.2050      0.703     -4.560      0.000      -4.594      -1.816
Engine_size        22.6694     12.550      1.806      0.073      -2.136      47.475
Fuel_capacity       7.4067      3.434      2.157      0.033       0.619      14.195
Fuel_efficiency     4.0720      3.476      1.172      0.243      -2.798      10.942
Car_brand_1       -16.7365     23.713     -0.706      0.481     -63.604      30.131
Car_brand_2         3.4945     23.451      0.149      0.882     -42.856      49.845
Car_brand_4        65.2593     22.268      2.931      0.004      21.248     109.270
==============================================================================
Omnibus:                      181.839   Durbin-Watson:                   1.350
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7064.679
Skew:                           4.454   Prob(JB):                         0.00
Kurtosis:                      35.075   Cond. No.                         769.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

**Result:-**

- Coefficient interpretation: Controlling for other variables, there is an increase of 3.4945 in sales for Car brand 2 compared to car brand 3
- Hypothesis test: Assuming a level of significance of 5%, since p value > 0.05, we fail to reject the null hypothesis that there is no difference in sales between car brand 2 and car brand 3. Therefore, we can say that the expected difference in sales between car brand 2 and 3 is equal to zero.

# Question 4

Test the null hypothesis that, controlling for engine size, fuel capacity, and fuel 
efficiency, the relationship between price and sales is the same for car brand 3 and 
car brand 4. That is, test the null hypothesis that a 1% increase in price is associated 
with the same percentage increase in sales for brand 3 and brand 4 cars.

In [16]:
# Regression model
result = sm.ols(formula = "Sales_log ~ Price_log + Engine_size + Fuel_capacity + Fuel_efficiency + \
                Car_brand_1 + Car_brand_2 + Car_brand_4",
               data = df).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Sales_log   R-squared:                       0.402
Model:                            OLS   Adj. R-squared:                  0.373
Method:                 Least Squares   F-statistic:                     13.93
Date:                Sat, 04 Dec 2021   Prob (F-statistic):           9.86e-14
Time:                        14:46:52   Log-Likelihood:                -223.84
No. Observations:                 153   AIC:                             463.7
Df Residuals:                     145   BIC:                             487.9
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           8.1166      1.800      4.508      0.000       4.558      11.675
Price_log          -2.2334      0.260     -8.595      0.000      -2.747      -1.720
Engine_size         0.2946      0.137      2.147      0.033       0.023       0.566
Fuel_capacity       0.0773      0.038      2.021      0.045       0.002       0.153
Fuel_efficiency     0.0043      0.039      0.109      0.914      -0.073       0.082
Car_brand_1        -0.3731      0.264     -1.414      0.159      -0.895       0.148
Car_brand_2         0.0993      0.260      0.382      0.703      -0.414       0.613
Car_brand_4         0.4643      0.248      1.875      0.063      -0.025       0.954
==============================================================================
Omnibus:                       56.060   Durbin-Watson:                   1.664
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              194.132
Skew:                          -1.370   Prob(JB):                     7.00e-43
Kurtosis:                       7.790   Cond. No.                         630.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

**Result:-**

- Coefficient interpretation: Controlling for all other variables, for a 1% increase in price for Car brand 4, there is an increase of (exp(0.4643) - 1)% for car brand 4 compared to car brand 3
- Hypothesis test: Assuming a level of significance of 5%, since p value > 0.05, we fail to reject the null hypothesis that there is no difference in sales for car brand 3 and car brand 4. Therefore, we can say that a 1% increase in price is associated with the same percentage increase in sales for brand 3 and brand 4 cars.