# Name: Falak Jain

# Problem Set 9

### Learning Objective:

- Formulate linear optimization models to inform a business decision.
- Create Python code to automate a given task.


### Overview:

This problem set assesses your ability to create an abstract formulation of a linear optimization model, as discussed in the lectures for Week 11.

### Grading

There are three possible scores you can get from submitting this assignment on time (submitting a blank file or one without any apparent effort does not count). Note that the rubric is designed to incentivize you to go for 100% mastery of the material, as the little details matter a lot in business analytics. 

| Grade | Description |
|--|--|
| 5 out of 5 | Perfect submission with no significant errors. | 
| 4 out of 5 | Near perfect submission with one or more significant errors. |
| 2 out of 5 | Apparent effort but far from perfect. |

In each problem, you should go through the four steps of applying optimization: English Description -> Concrete Formulation -> Abstract Formulation -> Python Code.

## Q1 (Emergency Vehicle Location)


The city of Metropolis is divided into nine districts and is considering seven possible sites to place emergency vehicles. The table below shows the time (minutes) it takes for an emergency vehicle to travel from each district to each site. (The column labels are sites and row labels are districts.)

| District \\ Site | 1 | 2 | 3 | 4 | 5 | 6 | 7 |
|:--|--|--|--|--|--|--|--|
| 1 | 5 | 3 | 4 | 3 | 8 | 9 | 0 |
| 2 | 3 | 6 | 5 | 4 | 8 | 0 | 3 |
| 3 | 4 | 3 | 6 | 8 | 10 | 3 | 2 |
| 4 | 6 | 0 | 2 | 7 | 3 | 2 | 5 |
| 5 | 2 | 8 | 2 | 5 | 0 | 6 | 8 |
| 6 | 2 | 6 | 4 | 0 | 7 | 3 | 5 |
| 7 | 0 | 12 | 5 | 5 | 5 | 7 | 2 |
| 8 | 10 | 9 | 0 | 2 | 3 | 5 | 7 |
| 9 | 2 | 4 | 5 | 7 | 3 | 4 | 5 |


Formulate a linear optimization problem to find the minimum number of sites to place emergency vehicles, such that all districts are within three minutes of an emergency vehicle.

### Step 1. English Description

Describe the decision, objective and constraints in English using precise, complete and succinct language.

**Decision:** 
Determine whether to place emergency vehicle at a particular site

**Objective:** 
Minimize the number of emergency vehicles required

**Constraints:** 
The time taken to reach a particular district should not exceed 3 minutes for any emergency vehicle

### Step 2. Concrete Formulation

Write a linear optimization formulation in which the only variables are decision variables, and all input data are represented as numbers.

**Decision variables:** 
- $x_{i}$: Whether to place an emergency vehicle at site i. (Binary)

**Objective and constraints:**
$$\text{Minimize:} \qquad x_1 + x_2 + x_3 + x_4 + x_5 + x_6 + x_7$$

$$\begin{aligned}
\text{(District 1)} && x_2 + x_4 + x_7 & \ge 1 \\
\text{(District 2)} && x_1 + x_6 + x_7 & \ge 1 \\
\text{(District 3)} && x_2 + x_6 + x_7 & \ge 1 \\
\text{(District 4)} && x_2 + x_3 + + x_5 + x_6 & \ge 1 \\
\text{(District 5)} && x_1 + x_3 + x_5 & \ge 1 \\
\text{(District 6)} && x_1 + x_4 + x_6 & \ge 1 \\
\text{(District 7)} && x_1 + x_7 & \ge 1 \\
\text{(District 8)} && x_3 + x_4 + x_5 & \ge 1 \\
\text{(District 9)} && x_1 + x_5 & \ge 1 \\
\end{aligned}$$

### Step 3. Abstract Formulation

Generalize the concrete formulation to handle arbitrary number of sites, districts, and geographic configurations. You may define any data variables that can be straightforwardly obtained from input data.

**Data:** 
- S: set of sites available to place emergency vehicle
- K: set of collection of sites which can reach a particular district within 3 minutes

**Decision variables:** 
- $x_{i}$: Whether to place an emergency vehicle at site i. (Binary)

**Objective and constraints:**
$$\text{Minimize: } \sum_{s \in S} x_{s}$$

$$\begin{aligned}
\text{(District)} && \sum_{i \in k} x_{i} &\ge 1 && \text{for each set $k in $K.} \\
\end{aligned}$$

### Step 4. Python Code

Implement your abstract formulation and find the numerical solution. You should first store the given input data into the appropriate data structure. (You can choose how to store the data.)

In [2]:
# Input data
import pandas as pd
District = [1,2,3,4,5,6,7,8,9]
Sites = [1,2,3,4,5,6,7]
data = pd.DataFrame([[5,3,4,3,8,9,0],
                    [3,6,5,4,8,0,3],
                    [4,3,6,8,10,3,2],
                    [6,0,2,7,3,2,5],
                    [2,8,2,5,0,6,8],
                    [2,6,4,0,7,3,5],
                    [0,12,5,5,5,7,2],
                    [10,9,0,2,3,5,7],
                    [2,4,5,7,3,4,5]],
                   index = District, columns = Sites)
data

    1   2  3  4   5  6  7
1   5   3  4  3   8  9  0
2   3   6  5  4   8  0  3
3   4   3  6  8  10  3  2
4   6   0  2  7   3  2  5
5   2   8  2  5   0  6  8
6   2   6  4  0   7  3  5
7   0  12  5  5   5  7  2
8  10   9  0  2   3  5  7
9   2   4  5  7   3  4  5

In [2]:
# Python code corresponding to the abstract formulation
from gurobipy import Model, GRB
mod = Model()
x = mod.addVars(data.columns,name='x',vtype=GRB.BINARY)
mod.setObjective(sum(x[s] for s in Sites),sense = GRB.MINIMIZE)
for d in District:
    dist = list(data.loc[d,data.loc[d,]<=3].index)
    mod.addConstr(sum(x[j] for j in dist)>=1)
mod.setParam('OutputFlag',False)
mod.optimize()
print('Minimum number of sites needed:',mod.objVal)
print('Use sites: ',end='')
for s in Sites:
    if x[s].x == 1:
        print(f'{s}',end=' ')

Academic license - for non-commercial use only - expires 2022-10-02
Using license file C:\Users\jainf\gurobi.lic
Minimum number of sites needed: 3.0
Use sites: 5 6 7

In [3]:
# Numerical Solution

Minimum number of sites needed: 3.0
Use sites: 5 6 7

## Q2 (Optimal Debt Repayment)

Paris has come to you because she needs help paying off her credit card bills. Her statement at the beginning of month 1 shows the following balances:

| Credit Card | Balance | Monthly Rate |
|--|--|--|
| Saks Fifth Avenue | \$20,000 | 0.5\% |
| Bloomingdale's | \$50,000 | 1.0\% |
| Macy's | \$40,000 | 1.5\% |

Paris has agreed not to shop at any of these stores anymore, and she is willing to allocate up to 5,000 dollars per month to pay off these credit cards. All cards must be paid off within 36 months (meaning that her statement at the beginning of month 37 must be zero for all card). Paris’ goal is to minimize the total of all her payments.

For this problem, assume that the interest for the month is applied after the payment for that month. For example, suppose Paris pays 5,000 on Saks for month 1. Then her Saks balance at the beginning of month 2 is $(1.005)\times (20000 - 5000) = 15075$. 

Help Paris solve her problem by formulating it into a linear program, then generalize it to be able to handle arbitrary number of credit cards, balances, monthly rates, monthly budget, and time required for full payment.

### Step 1. English Description

Describe the decision, objective and constraints in English using precise, complete and succinct language.

**Decision:** 
The dollar amount to be paid each month to each credit card

**Objective:** 
Minimize the total payment to pay off these cards over 36 months

**Constraints:**
- The total monthly payment towards all the cards should not exceed $5,000
- There should not be any balance left at the end of 36 months

### Step 2. Concrete Formulation

Write a linear optimization formulation in which the only variables are decision variables, and all input data are represented as numbers. You can use ... (or $\cdots$ in Latex) to omit obvious patterns, so you don't have to write out all the terms in a sum or all the repeated constraints. 

**Decision variables:** 
- $x_{ij}$: Payment made in month i to card j (Continuous)

**Objective and constraints:**
$$\text{Minimize:} \qquad x_{1S} + x_{1B} + x_{1M} + \cdots + x_{36S} + x_{36B} + x_{36M} $$

$$\begin{aligned}
\text{(Month 1)} && x_{1S} + x_{1B} + x_{1M} & \le 5000 \\
\text{...}
\text{(Month 36)} && x_{36S} + x_{36B} + X_{36M} & \le 5000 \\
\text{(Balance for month 1 for card S)} && b_{1S} & = 20000 \\
\text{(Balance for month 1 for card B)} && b_{1B} & = 50000 \\
\text{(Balance for month 1 for card M)} && b_{1M} & = 40000 \\
\text{(Balance for month 2 for card S)} && b_{2S} & = (1.005)*(b_{1S} - x_{1S}) \\
\text{(Balance for month 2 for card B)} && b_{2B} & = (1.01)*(b_{1B} - X_{1B}) \\
\text{(Balance for month 2 for card M)} && b_{2M} & = (1.015)*(b_{1M} - X_{1M}) \\
...
\text{(Balance for month 36 for card S)} && b_{36S} & = (1.005)*(b_{35S} - x_{35S}) \\
\text{(Balance for month 36 for card B)} && b_{36B} & = (1.01)*(b_{35B} - X_{35B}) \\
\text{(Balance for month 36 for card M)} && b_{36M} & = (1.015)*(b_{35M} - X_{35M}) \\
\text{(Balance for Month 37)} && b_{37S} + b_{37B} + b_{37M} & = 0 \\
\text{(Non-negativity)} && x_{ij},b_{ij} & \ge 0 & \text{(For every day i and credit card j)}\\
\end{aligned}$$

### Step 3. Abstract Formulation

Generalize the concrete formulation to arbitrarily many credit cards, number of months, initial card balance, cash available in each month, and monthly interest rate. You may assume that the available cash is the same in each month, and that the interest rate for each card does not change over time.


**Data:**
- M: Maximum number of months for repayment of credit cards
- C: List of credit cards which are required to be paid off
- R: List of interest rates corresponding to the respective card
- Y: Monthly payment budget

**Decision variable:** 
- $x_{ij}$: Payment made in month i to card j (Continuous)

**Objective and constraints:** 
$$\text{Minimize: } \sum_{m \in M, c in C} x_{mc}$$

$$\begin{aligned}
\text{(Monthly Payment 1)} && \sum_{c \in C} x_{mc} & \le Y \text{(For every month m in M)}\\
\text{(Monthly Payment 2)} && x_{mc} & \le b_{mc} \text{(For every month m in M and card c in C)}\\
\text{(Monthly Balance)} && b_{mc} - r_c(b_{m-1,c} - x_{m-1,c}) & = 0 \text{(For every month m in M and card c in C and r in Rate R)}\\
\text{(Balance for Month M+1)} && \sum_{c in C} x_{(M+1)c} & = 0 \\
\end{aligned}$$

### Step 4. Python Code

Implement your abstract formulation and find the numerical solution. You should first store the given input data into the appropriate data structure. (You can choose how to store the data.)

In [3]:
# Input data
import pandas as pd
credit_card = ["Saks Fifth Avenue","Bloomingdale's","Macy's"]
months = 36
budget = 5000
data = pd.DataFrame([[20000,0.005],
                    [50000,0.01],
                    [40000,0.015]],
                   index = credit_card,columns = ['Balance','Monthly Rate'])
data

                   Balance  Monthly Rate
Saks Fifth Avenue    20000         0.005
Bloomingdale's       50000         0.010
Macy's               40000         0.015

In [4]:
# Python code corresponding to the abstract formulation
from gurobipy import Model, GRB
mod = Model()
x = mod.addVars(range(1,months+1),credit_card,name='x',vtype=GRB.CONTINUOUS)
b = mod.addVars(range(1,months+2),credit_card,name='b',vtype=GRB.CONTINUOUS)
mod.setObjective(sum(x[m,c] for m in range(1,months+1) for c in credit_card),sense = GRB.MINIMIZE)
for m in range(1,months+1):
    mod.addConstr(sum(x[m,c] for c in credit_card)<=budget)
    for c in credit_card:
        mod.addConstr(x[m,c] <= b[m,c])
for c in credit_card:
    mod.addConstr(b[1,c] == data.loc[c,'Balance'])
    mod.addConstr(b[37,c] == 0)
for i in range(2,months+2):
    for c in credit_card:
        mod.addConstr(b[i,c] == (1+data.loc[c,'Monthly Rate'])*(b[i-1,c]-x[i-1,c]))
mod.setParam('OutputFlag',False)
mod.optimize()
print('Minimum total payments:',mod.objVal)

df = pd.DataFrame(index = credit_card,columns = range(1,months+1))
for i in range(1,months+1):
    for c in credit_card:
        df.loc[c,i] = round(x[i,c].x,2)
pd.set_option('display.max_columns',None)
df

Academic license - for non-commercial use only - expires 2022-10-02
Using license file C:\Users\jainf\gurobi.lic
Minimum total payments: 121797.50485862955

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
Saks Fifth Avenue,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,482.26,5000.0,5000.0,5000.0,5000.0,1797.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bloomingdale's,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2736.96,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,4517.74,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Macy's,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,2263.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Numerical Solution

Minimum total payments: 121797.50485862953

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
S,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,482.26,5000,5000,5000,5000,1797.5,0,0,0,0,0,0,0,0,0,0,0
B,0,0,0,0,0,0,0,0,2736.96,5000,5000,5000,5000,5000,5000,5000,5000,5000,5000,4517.74,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
M,5000,5000,5000,5000,5000,5000,5000,5000,2263.04,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0