In [2]:
import pandas as pd
cost = pd.DataFrame([[20,18,21,8],[8,23,24,8],[25,8,8,19]],\
                    index = [1,2,3],columns=['A','B','C','D'])
cost

    A   B   C   D
1  20  18  21   8
2   8  23  24   8
3  25   8   8  19

In [7]:
for f in cost.index:
    for r in cost.columns:
        print(cost.loc[f,r],end=' ')
    print()

20 18 21 8
8 23 24 8
25 8 8 19

In [11]:
demand = pd.Series([30,50,10,20],index=['A','B','C','D'])
demand

A    30
B    50
C    10
D    20
dtype: int64

In [12]:
demand['A']

30

In [13]:
demand.loc['A']

30

In [14]:
demand.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
capacity = pd.Series([40]*3,index=[1,2,3])
capacity

1    40
2    40
3    40
dtype: int64

# Implementing the Formulation Incrementally

In [19]:
# Creating variables
from gurobipy import Model, GRB
mod = Model()
FCs = cost.index
regions = cost.columns
x = mod.addVars(FCs,regions,name='x')
mod.update()
x

{(1, 'A'): <gurobi.Var x[1,A]>,
 (1, 'B'): <gurobi.Var x[1,B]>,
 (1, 'C'): <gurobi.Var x[1,C]>,
 (1, 'D'): <gurobi.Var x[1,D]>,
 (2, 'A'): <gurobi.Var x[2,A]>,
 (2, 'B'): <gurobi.Var x[2,B]>,
 (2, 'C'): <gurobi.Var x[2,C]>,
 (2, 'D'): <gurobi.Var x[2,D]>,
 (3, 'A'): <gurobi.Var x[3,A]>,
 (3, 'B'): <gurobi.Var x[3,B]>,
 (3, 'C'): <gurobi.Var x[3,C]>,
 (3, 'D'): <gurobi.Var x[3,D]>}